### Business Analytics Group Assignment - Predicting Airbnb Listing Prices in Melbourne__ {-}

--- 

**Kaggle Competition Ends:** Friday, 2 June 2023 @ 3:00pm (Week 13)  
**Assignment Due Date on iLearn:** Friday, 2 June 2023 @ 11.59pm (Week 13)   

**Overview:**   

- In the group assignment you will form a team of 3 students and participate in a forecasting competition on Kaggle
- The goal is to predict listed prices of Airbnb properties in Melbourne based on various Airbnb characteristics and regression models
- Assessment Summary:  
    - Write a problem statement and perform Exploratory Data Analysis  
    - Clean up data, deal with categorical features and missing observations, and create new explanatory variables (feature engineering)  
    - Construct and tune forecasting models, produce forecasts and submit your predictions to Kaggle  
    - Each member of the team will record a video presentation of their work  
    - Marks will be awarded producing a prediction in the top 5 positions of their unit as well as for reaching the highest ranking on Kaggle amongst all teams.

**Instructions:** 

- Form a team of 3 students (minimum 2 students)  
- Each team member needs to join [https://www.kaggle.com](https://www.kaggle.com/)  
- Choose a team leader and form a team in the competition [https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12](https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12)
    - Team leader to click on `team` and join and invite other team members to join
    - Your **team's name must start** with your unit code, for instance you could have a team called BUSA8001_masterful_geniuses or BUSA3020_l33t 
- All team members should work on all the tasks listed below however   
    - Choose a team member who will be responsible for one of each of the 3 tasks listed below    
- Your predictions must be generated by a model you develop here 
    - You will receive a mark of zero if your code provided here does not produce the forecasts you submit to Kaggle

**Marks**: 

- Total Marks: 40
- Your individual mark will consist of:  
    - 50% x overall assignment mark + 45% x mark for the task that you are responsible for + 5% x mark received from your teammates for your effort in group work

**Competition Marks:**  

- 1 mark: Ranking in the top 5 places of your unit on Kaggle (make sure you name your team as instructed above)   
- 2 marks: Reaching the first place in your unit (make sure you name your team as instructed above)


**Submissions:**  

1. On Kaggle: submit your team's forecast in order to be ranked by Kaggle
    - Can do this as many times as necessary while building their model  
2. On iLearn **only team leader to submit** this Jupyter notebook re-named `Group_Assignment_Team_Name.ipynb` where Team_Name is your team's name on Kaggle   
    - The Jupyter notebook must contain team members names/ID numbers, and team name in the competition
    - Provide answers to the 3 Tasks below in the allocated cells including all codes/outputs/writeups 
    - One 15 minute video recording of your work 
        - Each team member to provide a 5 minute presentation of the Task that they led (it is best to jointly record your video using Zoom)
        - When recording your video make sure your face is visible, that you share your Jupyter Notebook and explain everything you've done in the submitted Jupyter notebook on screen
        - 5 marks will be deducted from each Task for which there is no video presentation or if you don't follow the above instructions
        
3. On iLearn each student needs to submit a file with their teammates' names, ID number and a mark for their group effort (out of 100%)

---

**Fill out the following information**

For each team member provide name, Student ID number and which task is performed below

- Team Name on Kaggle: `(insert here)`
- Team Leader and Team Member 1: `(insert here)`
- Team Member 2: `(insert here)`
- Team Member 3: `(insert here)`

---

## Task 1: Problem Description and Initial Data Analysis {-}

1. Read the Competition Overview on Kaggle [https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12](https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12)
2. Referring to Competition Overview and the data provided on Kaggle write about a 500 words **Problem Description** focusing on key points that will need to be addressed as first steps in Tasks 2 and 3 below, using the following headings:
    - Forecasting Problem - explain what you are trying to do and how it could be used in the real world (i.e. why it may be important)
    - Evaluation Criteria - explain the criteria is used to assess forecast performance 
    - Types of Variables/Features
    - Data summary and main data characteristics
    - Missing Values (only explain what you found at this stage)
    - Hint: you should **not** discuss any specific predictive algorithms at this stage
    - Note: This task should be completed in a single Markdown cell (text box)
    
Total Marks: 12

In [3]:
# Task 1 code here

`(Task 1, Text Here)`

---

## Task 2: Data Cleaning, Missing Observations and Feature Engineering {-}
- In this task you will follow a set of instructions/questions listed below.
- Make sure you **explain** each step you do both in Markdown text and on your video.
    - Do not just read out your commands without explaining what they do and why you used them 

Total Marks: 12

**Task 2, Question 1**: Clean **all** numerical features and the target variable `price` so that they can be used in training algorithms. For instance, `host_response_rate` feature is in object format containing both numerical values and text. Extract numerical values (or equivalently eliminate the text) so that the numerical values can be used as a regular feature.  
(2 marks)

In [143]:
## Task 2, Question 1 Code Here
import pandas as pd
df_train = pd.read_csv('Data files/train.csv')
df_test = pd.read_csv('Data files/test.csv')
df_sample_submission = pd.read_csv('Data files/sample_submission.csv')
df_metaData = pd.read_csv('Data files/metaData.csv')

In [144]:
df_test.columns

Index(['ID', 'source', 'name', 'description', 'neighborhood_overview',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'amenities', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [145]:
df_train.columns

Index(['ID', 'source', 'name', 'description', 'neighborhood_overview',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'amenities', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'price'],
      dtype='object')

In [146]:
df_sample_submission.columns

Index(['ID', 'price'], dtype='object')

In [147]:
df_test

,ID,source,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,7000,city scrape,Spacious Art Deco Apartment in St Kilda,This Art Deco apartment is a unique find with ...,NaN,Rebecca,2016-11-29,"Victoria, Australia",A Melburnian primary school teacher. I love to...,within an hour,...,4.86,4.94,4.81,4.92,t,1,1,0,0,2.58
1,7001,city scrape,Beach frontage block just meters to Fitzroy St,Positioned on the beach of St Kilda West and ...,The property is set on Beaconsfield Parade in ...,Bookings@,2016-11-22,"Murrumbeena, Australia",We are professional property managers who look...,within an hour,...,4.93,4.77,4.90,4.47,f,2,2,0,0,2.05
2,7002,city scrape,CarricHouse single Room with Shared bathroom,Single room with shared bathroom( only share w...,NaN,CarricHouse,2021-01-14,"North Melbourne, Australia","CarricHouse provide a home feeling, luxury- ho...",within an hour,...,3.00,4.00,5.00,3.50,t,6,0,4,2,0.15
3,7003,city scrape,CarricHouse Twin Shared Room with En-suite,"Twin shared room with En-suite, shared commerc...",NaN,CarricHouse,2021-01-14,"North Melbourne, Australia","CarricHouse provide a home feeling, luxury- ho...",within an hour,...,4.79,4.71,4.79,4.57,t,6,0,4,2,1.09
4,7004,city scrape,CarricHouse Twin shared Room with Shared Bathroom,Twin shared room with shared bathroom (only sh...,NaN,CarricHouse,2021-01-14,"North Melbourne, Australia","CarricHouse provide a home feeling, luxury- ho...",within an hour,...,4.40,4.40,4.60,4.00,t,6,0,4,2,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,9995,previous scrape,Comfy Bedroom with Private Bathroom,The apartment is located 180 meters away from ...,Hawthorn is a very family oriented suburb and ...,Kimberley,2014-08-04,NaN,I'm a fun and avid traveller. I've been expose...,NaN,...,5.00,5.00,4.50,4.50,f,1,0,1,0,0.02
2996,9996,city scrape,Light-Filled & Cosy in the Heart of South Yarra,"Footsteps from South Yarra Train station, this...","Just 3km from the heart of Melbourne, South Ya...",Ruth,2020-02-10,NaN,NaN,NaN,...,4.74,4.64,4.74,4.19,t,36,36,0,0,0.86
2997,9997,city scrape,New 6 bedrooms house in Williams Landing,Have fun with the whole family at this stylish...,NaN,Anna,2014-11-06,NaN,"I am a travel consultant, love to meet differe...",within an hour,...,NaN,NaN,NaN,NaN,t,36,36,0,0,NaN
2998,9998,previous scrape,Comfortable bedroom in CBD,"In Melbourne CBD, within the free tram zone. v...",NaN,Frank,2018-07-28,"Melbourne, Australia",NaN,NaN,...,2.33,3.33,4.00,3.33,t,2,0,2,0,0.08
2999,9999,city scrape,"Where the heart is, where the home is",Our apartment is located in an Excellent place...,📍1 minutes to Ezymart mini market !<br /><br /...,Jasmine,2015-12-01,"Victoria, Australia",I love sharing with people from all over the w...,NaN,...,4.74,4.87,4.96,4.91,f,1,1,0,0,1.61

In [148]:
#df = pd.merge(df_train, df_test, on = 'ID' , how = 'inner')

In [149]:
df_train_ID = df_train['ID'] #keep ID column
df_test_ID = df_test['ID']

In [150]:
#drop ID column since it is not necessary for analysis
df_train.drop("ID", axis = 1, inplace = True) 

#drop ID column since it is not necessary for analysis
df_test.drop("ID", axis = 1, inplace = True)

In [151]:
#check numerical features
num_col_train=df_train.select_dtypes(include=['int64','float64']).columns 
num_col_train

Index(['host_listings_count', 'latitude', 'longitude', 'accommodates',
       'bedrooms', 'beds', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [152]:
num_col_test=df_test.select_dtypes(include=['int64','float64']).columns 
num_col_test

Index(['host_listings_count', 'latitude', 'longitude', 'accommodates',
       'bedrooms', 'beds', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [153]:
#check categorical features
cat_col_train= df_train.select_dtypes(include=['object']).columns
cat_col_train

Index(['source', 'name', 'description', 'neighborhood_overview', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'property_type', 'room_type', 'bathrooms', 'amenities',
       'has_availability', 'first_review', 'last_review', 'instant_bookable',
       'price'],
      dtype='object')

In [154]:
cat_col_test= df_test.select_dtypes(include=['object']).columns
cat_col_test

Index(['source', 'name', 'description', 'neighborhood_overview', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'property_type', 'room_type', 'bathrooms', 'amenities',
       'has_availability', 'first_review', 'last_review', 'instant_bookable'],
      dtype='object')

In [155]:
df_train['host_response_rate'] = df_train['host_response_rate'].str.replace('%', '')

# Convert 'host_response_rate' to numeric format
df_train['host_response_rate'] = pd.to_numeric(df_train['host_response_rate'])

In [156]:
df_test['host_response_rate'] = df_test['host_response_rate'].str.replace('%', '')

# Convert 'host_response_rate' to numeric format
df_test['host_response_rate'] = pd.to_numeric(df_test['host_response_rate'])

In [157]:
df_train['price'] = df_train['price'].str.replace('[\$,]', '', regex = True)

# Convert 'price' to numeric format
df_train['price'] = pd.to_numeric(df_train['price'])

In [158]:
df_train['host_acceptance_rate'] = df_train['host_acceptance_rate'].str.replace('%', '')

# Convert 'host_acceptance_rate' to numeric format
df_train['host_acceptance_rate'] = pd.to_numeric(df_train['host_acceptance_rate'])

In [159]:
df_test['host_acceptance_rate'] = df_test['host_acceptance_rate'].str.replace('%', '')

# Convert 'host_acceptance_rate' to numeric format
df_test['host_acceptance_rate'] = pd.to_numeric(df_test['host_acceptance_rate'])

In [160]:
num_col_train

Index(['host_listings_count', 'latitude', 'longitude', 'accommodates',
       'bedrooms', 'beds', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

`(Task 2, Question 1 Text Here - insert more cells as required)`

**Task 2, Question 2** Create at least 4 new features from existing features which contain multiple items of information, e.g. creating `email`,  `phone`, `work_email`, etc. from feature `host_verifications`.  
(2 marks)

In [161]:
df_train['host_verifications']

0                     ['email', 'phone']
1                     ['email', 'phone']
2                     ['email', 'phone']
3                     ['email', 'phone']
4       ['email', 'phone', 'work_email']
                      ...
6995                  ['email', 'phone']
6996                  ['email', 'phone']
6997                  ['email', 'phone']
6998    ['email', 'phone', 'work_email']
6999                  ['email', 'phone']
Name: host_verifications, Length: 7000, dtype: object

In [162]:
df_train['email_verification'] = df_train['host_verifications'].apply(lambda x: 'email' in x)
df_train['phone_verification'] = df_train['host_verifications'].apply(lambda x: 'phone' in x)
df_train['work_email_verification'] = df_train['host_verifications'].apply(lambda x: 'work_email' in x)
df_train['address_verification'] = df_train['host_verifications'].apply(lambda x: 'address' in x)

In [163]:
df_test['email_verification'] = df_test['host_verifications'].apply(lambda x: 'email' in x)
df_test['phone_verification'] = df_test['host_verifications'].apply(lambda x: 'phone' in x)
df_test['work_email_verification'] = df_test['host_verifications'].apply(lambda x: 'work_email' in x)
df_test['address_verification'] = df_test['host_verifications'].apply(lambda x: 'address' in x)

In [164]:
df_train['host_verifications']

0                     ['email', 'phone']
1                     ['email', 'phone']
2                     ['email', 'phone']
3                     ['email', 'phone']
4       ['email', 'phone', 'work_email']
                      ...
6995                  ['email', 'phone']
6996                  ['email', 'phone']
6997                  ['email', 'phone']
6998    ['email', 'phone', 'work_email']
6999                  ['email', 'phone']
Name: host_verifications, Length: 7000, dtype: object

`(Task 2, Question 2 Text Here)`

**Task 2, Question 3**: Impute missing values for all features in both training and test datasets. Hint: make sure you do **not** impute the price in the test dataset.
(3 marks)

In [167]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Assuming you have separate DataFrames for training and test datasets named "df_train" and "df_test"

# Concatenate training and test datasets for imputation
concat_df = pd.concat([df_train, df_test])

# Identify numeric and categorical features
numeric_features = concat_df.select_dtypes(include=['float', 'int']).columns
categorical_features = concat_df.select_dtypes(include=['object']).columns

# Exclude "price" from imputation in the test dataset
numeric_features_test = numeric_features.drop('price')

# Impute missing values for numeric features
numeric_imputer = SimpleImputer(strategy='mean')
concat_df[numeric_features] = numeric_imputer.fit_transform(concat_df[numeric_features])

# Impute missing values for categorical features
categorical_imputer = SimpleImputer(strategy='most_frequent')
concat_df[categorical_features] = categorical_imputer.fit_transform(concat_df[categorical_features])

# Split imputed data back into training and test datasets
df_train_imputed = concat_df[:len(df_train)]
df_test_imputed = df_test.copy()  # Create a copy of the test dataset
df_test_imputed[numeric_features_test] = concat_df[len(df_train):][numeric_features_test]

# Print the imputed DataFrames
print(df_train_imputed)
print(df_test_imputed)

               source                                               name  \
0         city scrape                              The Stables, Richmond
1         city scrape      Room in Cool Deco Apartment in Brunswick East
2         city scrape                        The Suite @ Angelus Retreat
3         city scrape                Million Dollar Views Over Melbourne
4         city scrape                 Melbourne - Old Trafford Apartment
...               ...                                                ...
6995      city scrape  Well Located, Spacious 4-Bedroom Home w/ King ...
6996      city scrape    Short Stay Freshwater Place 1 Bedroom + Balcony
6997  previous scrape                       Whole place for your getaway
6998      city scrape                      Fitzroy bunker > entire place
6999      city scrape                            Funky Fitzroy Apartment

                                            description  \
0     Superbly located hotel style accommodation in ...
1     A large air conditioned room with firm queen s...
2     <b>The space</b><br />Welcome to ANGELUS Retre...
3     <b>The space</b><br /><b>Enjoy Million Dollar ...
4     After hosting many guests from all over the wo...
...                                                 ...
6995  Our two-storey, four bedroom house is ready to...
6996  Enjoy comfortable living in one of our light-f...
6997  Having your own home while in holiday or busin...
6998  This place is in the middle of everything, yet...
6999  This place is a funky 2 bedroom, 1 bathroom ap...

                                  neighborhood_overview      host_name  \
0     Richmond is a great neighbourhood.  A beautifu...           Ione
1     This hip area is a crossroads between two grea...        Lindsay
2     Melbourne - Voted most livable city in the wor...  Margaret Jiin
3     Melbourne - Voted most livable city in the wor...           Paul
4     Our street is quiet & secluded but within walk...    Daryl & Dee
...                                                 ...            ...
6995  The neighbourhood is in close proximity to sho...            Val
6996  Melbourne - Voted most livable city in the wor...      Southbank
6997  Melbourne - Voted most livable city in the wor...          Trang
6998  Melbourne - Voted most livable city in the wor...        Crystal
6999  Endless options for a delicious meal (especial...         Hannah

      host_since          host_location  \
0     2013-03-16   Melbourne, Australia
1     2009-09-16   Melbourne, Australia
2     2011-11-28   Melbourne, Australia
3     2010-06-13   Melbourne, Australia
4     2010-07-12     Berwick, Australia
...          ...                    ...
6995  2015-06-23   Melbourne, Australia
6996  2021-12-23   Melbourne, Australia
6997  2016-11-19    Victoria, Australia
6998  2012-07-25    Victoria, Australia
6999  2017-01-11  Queensland, Australia

                                             host_about  host_response_time  \
0     I'm a working mum who loves being able to shar...      within an hour
1     As an artist working in animation and video I ...  within a few hours
2     I have very special interests in Life and Life...  within a few hours
3     Professional couple who enjoy entertaining in ...        within a day
4     We are an active couple who work from home and...  within a few hours
...                                                 ...                 ...
6995  I have lived in Melbourne for over 20 years an...      within an hour
6996  We specialise in offering a new and unique opp...  within a few hours
6997  We specialise in offering a new and unique opp...      within an hour
6998  We specialise in offering a new and unique opp...      within an hour
6999  From Brisbane - now in Melbourne. Travelling &...      within an hour

      host_response_rate  ...  calculated_host_listings_count  \
0                  100.0  ...                             2.0
1                  100.0  ...                             1.0
2                  100.0  ...                             2.0
3                   75.0  ...                             1.0
4                  100.0  ...                             1.0
...                  ...  ...                             ...
6995               100.0  ...                             2.0
6996               100.0  ...                             6.0
6997               100.0  ...                             1.0
6998               100.0  ...                             2.0
6999               100.0  ...                             1.0

     calculated_host_listings_count_entire_homes  \
0                                            2.0
1                                            0.0
2                                            2.0
3                                            0.0
4                                            1.0
...                                          ...
6995                                         2.0
6996                                         6.0
6997                                         1.0
6998                                         1.0
6999                                         1.0

     calculated_host_listings_count_private_rooms  \
0                                             0.0
1                                             1.0
2                                             0.0
3                                             1.0
4                                             0.0
...                                           ...
6995                                          0.0
6996                                          0.0
6997                                          0.0
6998                                          1.0
6999                                          0.0

      calculated_host_listings_count_shared_rooms reviews_per_month   price  \
0                                             0.0              6.11   132.0
1                                             0.0              1.37    39.0
2                                             0.0              0.09   270.0
3                                             0.0              0.01  1000.0
4                                             0.0              1.43   116.0
...                                           ...               ...     ...
6995                                          0.0              1.50   341.0
6996                                          0.0              0.46   254.0
6997                                          0.0              0.20   179.0
6998                                          0.0              0.71   380.0
6999                                          0.0              2.24   270.0

     email_verification phone_verification work_email_verification  \
0                  True               True                   False
1                  True               True                   False
2                  True               True                   False
3                  True               True                   False
4                  True               True                    True
...                 ...                ...                     ...
6995               True               True                   False
6996               True               True                   False
6997               True               True                   False
6998               True               True                    True
6999               True               True                   False

      address_verification
0                    False
1                    False
2                    False
3                    False
4                    False
...                    ...
6995                 False
6996                 False
6997                 False
6998                 False
6999                 False

[7000 rows x 64 columns]
               source                                               name  \
0         city scrape            Spacious Art Deco Apartment in St Kilda
1         city scrape     Beach frontage block just meters to Fitzroy St
2         city scrape       CarricHouse single Room with Shared bathroom
3         city scrape         CarricHouse Twin Shared Room with En-suite
4         city scrape  CarricHouse Twin shared Room with Shared Bathroom
...               ...                                                ...
2995  previous scrape                Comfy Bedroom with Private Bathroom
2996      city scrape    Light-Filled & Cosy in the Heart of South Yarra
2997      city scrape           New 6 bedrooms house in Williams Landing
2998  previous scrape                         Comfortable bedroom in CBD
2999      city scrape              Where the heart is, where the home is

                                            description  \
0     This Art Deco apartment is a unique find with ...
1     Positioned on the  beach of St Kilda West and ...
2     Single room with shared bathroom( only share w...
3     Twin shared room with En-suite, shared commerc...
4     Twin shared room with shared bathroom (only sh...
...                                                 ...
2995  The apartment is located 180 meters away from ...
2996  Footsteps from South Yarra Train station, this...
2997  Have fun with the whole family at this stylish...
2998  In Melbourne CBD, within the free tram zone. v...
2999  Our apartment is located in an Excellent place...

                                  neighborhood_overview    host_name  \
0                                                   NaN      Rebecca
1     The property is set on Beaconsfield Parade in ...    Bookings@
2                                                   NaN  CarricHouse
3                                                   NaN  CarricHouse
4                                                   NaN  CarricHouse
...                                                 ...          ...
2995  Hawthorn is a very family oriented suburb and ...    Kimberley
2996  Just 3km from the heart of Melbourne, South Ya...         Ruth
2997                                                NaN         Anna
2998                                                NaN        Frank
2999  📍1 minutes to Ezymart mini market !<br /><br /...      Jasmine

      host_since               host_location  \
0     2016-11-29         Victoria, Australia
1     2016-11-22      Murrumbeena, Australia
2     2021-01-14  North Melbourne, Australia
3     2021-01-14  North Melbourne, Australia
4     2021-01-14  North Melbourne, Australia
...          ...                         ...
2995  2014-08-04                         NaN
2996  2020-02-10                         NaN
2997  2014-11-06                         NaN
2998  2018-07-28        Melbourne, Australia
2999  2015-12-01         Victoria, Australia

                                             host_about host_response_time  \
0     A Melburnian primary school teacher. I love to...     within an hour
1     We are professional property managers who look...     within an hour
2     CarricHouse provide a home feeling, luxury- ho...     within an hour
3     CarricHouse provide a home feeling, luxury- ho...     within an hour
4     CarricHouse provide a home feeling, luxury- ho...     within an hour
...                                                 ...                ...
2995  I'm a fun and avid traveller. I've been expose...                NaN
2996                                                NaN                NaN
2997  I am a travel consultant, love to meet differe...     within an hour
2998                                                NaN                NaN
2999  I love sharing with people from all over the w...                NaN

      host_response_rate  ...  instant_bookable  \
0             100.000000  ...                 t
1             100.000000  ...                 f
2              83.000000  ...                 t
3              83.000000  ...                 t
4              83.000000  ...                 t
...                  ...  ...               ...
2995           95.978085  ...                 f
2996           95.978085  ...                 t
2997          100.000000  ...                 t
2998           95.978085  ...                 t
2999           95.978085  ...                 f

     calculated_host_listings_count  \
0                               1.0
1                               2.0
2                               6.0
3                               6.0
4                               6.0
...                             ...
2995                            1.0
2996                           36.0
2997                           36.0
2998                            2.0
2999                            1.0

     calculated_host_listings_count_entire_homes  \
0                                            1.0
1                                            2.0
2                                            0.0
3                                            0.0
4                                            0.0
...                                          ...
2995                                         0.0
2996                                        36.0
2997                                        36.0
2998                                         0.0
2999                                         1.0

      calculated_host_listings_count_private_rooms  \
0                                              0.0
1                                              0.0
2                                              4.0
3                                              4.0
4                                              4.0
...                                            ...
2995                                           1.0
2996                                           0.0
2997                                           0.0
2998                                           2.0
2999                                           0.0

     calculated_host_listings_count_shared_rooms reviews_per_month  \
0                                            0.0          2.580000
1                                            0.0          2.050000
2                                            2.0          0.150000
3                                            2.0          1.090000
4                                            2.0          0.380000
...                                          ...               ...
2995                                         0.0          0.020000
2996                                         0.0          0.860000
2997                                         0.0          1.544088
2998                                         0.0          0.080000
2999                                         0.0          1.610000

     email_verification phone_verification work_email_verification  \
0                  True               True                   False
1                  True               True                    True
2                  True               True                    True
3                  True               True                    True
4                  True               True                    True
...                 ...                ...                     ...
2995               True               True                   False
2996               True               True                    True
2997               True               True                   False
2998              False               True                   False
2999               True               True                   False

      address_verification
0                    False
1                    False
2                    False
3                    False
4                    False
...                    ...
2995                 False
2996                 False
2997                 False
2998                 False
2999                 False

[3000 rows x 63 columns]

`(Task 2, Question 3 Text Here)`

**Task 2, Question 4**: Encode all categorical variables appropriately as discussed in class. 


Where a categorical feature contains more than 5 unique values, map the feature into 5 most frequent values + 'other' and then encode appropriately. For instance, you could group then map `property_type` into 5 most frequent property types + 'other'  
(2 marks)

In [14]:
## Task 2, Question 4 Code Here

`(Task 2, Question 4 Text Here)`

**Task 2, Question 5**: Perform any other actions you think need to be done on the data before constructing predictive models, and clearly explain what you have done.   
(1 marks)

In [15]:
## Task 2, Question 5 Code Here

`(Task 2, Question 5 Text Here)`

**Task 2, Question 6**: Perform exploratory data analysis to measure the relationship between the features and the target and write up your findings. 
(2 marks)

In [16]:
## Task 2, Question 6 Code Here

`(Task 2, Question 6 Text Here)`

--- 
## Task 3: Fit and tune a forecasting model/Submit predictions/Report score and ranking {-}

Make sure you **clearly explain each step** you do, both in text and on the recoded video.

1. Build a machine learning (ML) regression model by taking into account the outcomes of Tasks 1 & 2 (Explain carefully)
2. Fit the model and tune hyperparameters via cross-validation: make sure you comment and explain each step clearly
3. Create predictions using the test dataset and submit your predictions on Kaggle's competition page
4. Provide Kaggle ranking and **score** (screenshot your best submission) and Comment
5. Make sure your Python code works, so that a marker that can replicate your all of your results and obtain the same RMSE from Kaggle

- Hint: to perform well in this assignment you will need to iterate Tasks 2 & 3, creating new features and training various models in order to find the best one.

Total Marks: 12

In [10]:
#Task 3 code here

`(Task 3 - insert more cells as required)`